:root {
    --color-primary: #05386B !important;
    --color-secondary: #379683 !important;
    --color-background: #5CDB95 !important;
    --color-light: #8EE4AF !important;
    --color-font: #EDF5E1 !important;
}