@import 'colors';
@import 'typography';
@import 'responsive';

body {
    margin: 0px;
    font-family: 'Lato', sans-serif;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}