.navbar {
    background-color: var(--color-background);

    a {
        color: var(--color-primary);
    }
    
    .createButton {
        background-color: var(--color-primary);
        border: none;
        color: var(--color-font);
    }
}